*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(46, 46, 46);
}

h1{
    text-align: center;
   padding: 10px 10px;
   color: rgb(12, 136, 1);
   
}

.sticker{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    padding: 20px 20px;
}

img{
    border-radius: 3px;
}

p{
    text-decoration: underline;
}

input{
    text-align: center;
}

.btn{
    color:black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.calcular{
    border: 1px solid white;
    padding: 10px 10px;
    border-radius: 4px;
    margin: 10px 5px;
    background-color: rgb(28, 124, 3);
    color: white;
    
}

.calcular:hover{
    color: black;
    transform: translateY(-3%);
}

.resultado{
    text-align: center;
}

.button{
    text-decoration: none;
    color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 2px;
    padding: 5px 10px;
    background-color: rgb(2, 141, 43);
    box-shadow: 0px 0px 3px 0px rgba(252, 252, 252, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
    
.button:hover{
    color: black;
    transform: translateY(-3%);
}